.contact__avatar{
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    display:flex;
}

.contact__avatar .avatar__icon{
    height: 37px !important;
    width: 37px !important;
}

.contact__avatar.chat .avatar__icon{
    height: 35px !important;
    width: 35px !important;
}

.online__badge{
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: green;
    position:absolute;
    right:3px;
    bottom:2px;
    border:1px solid black;
}

.circle__button{
    height: 37px;
    width: 37px;
    background-color: #1877f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle__button .avatar__icon{
    height: 32px !important;
    width: 32px !important;
}